# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google
Standard: Cpp03
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash

# Always break after if to get accurate coverage
AllowShortIfStatementsOnASingleLine: false
