# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: Google
Standard: Cpp03
AllowShortFunctionsOnASingleLine: Empty

# Always break after if to get accurate coverage
AllowShortIfStatementsOnASingleLine: false
